<div class="home">
    <div class="section">
        <upload-box handle-upload="getPhotos"></upload-box>
    </div>
    <div class="section">
        <div class="ui grid stackable centered">
            <div class="sixteen wide column middle aligned">
                <photo-list photos="photos"></photo-list>
            </div>
        </div>
    </div>
</div>