<div class="ui long fullscreen modal" id="photo-modal">
    <div class="image content">
        <div class="ui grid stackable">
            <div class="twelve wide column">
                <img class="ui image fluid" ng-src="http://localhost:3030/{{p.photo.path}}">
            </div>
            <div class="four wide column">
                <div class="ui grid one column">
                    <div class="column right aligned">
                        <span class="close-button" ng-click="p.close()">
                            <i class="ion-ios-close-empty"></i>
                        </span>
                    </div>
                    <div class="column">
                        <table class="ui table very basic">
                            <tr>
                                <td class="right aligned">
                                    <span class="label">Resolution</span>
                                </td>
                                <td>
                                    <span class="value">{{p.photo.width}} x {{p.photo.height}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="right aligned">
                                    <span class="label">Size</span>
                                </td>
                                <td>
                                    <span class="value">{{p.photo.size}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="column">
                        <a ng-href="http://localhost:3030/{{p.photo.path}}">
                        <button class="ui button fluid">Download</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>