<div class="ui grid centered stackable padded">
    <div class="sixteen wide column">
        <div class="image-container">
            <a ng-repeat="photo in pl.photos">
                <img ng-src="http://localhost:3030/{{photo.thumbnailPath}}"/>
                <div class="caption">
                    <i class='ion-ios-eye photo-alt-button' ng-click='pl.openImage(photo)'></i>
                </div>
            </a>
        </div>
    </div>
</div>

<photo-modal photo="pl.selectedPhoto" open="pl.isModalOpen"></photo-modal>