<form action="http://localhost:3030/photo/upload" method="post" enctype="multipart/form-data"
      class="dropzone"
      id="upload-box-id">
    <span class="dz-message-bottom"><i class="ion-ios-arrow-down"></i></span>
</form>