@import url(https://fonts.googleapis.com/css?family=Lato:100);

.home {
  .section {
    min-height: 100vh;
  }
}

.image-thumb {
  position: relative;
  background-color: #eee;
}

.dropzone {
  border: 20px solid #FBBD08 !important;
  padding: 0 !important;
  background: #000 !important;
  height: 100vh !important;
  .dz-preview .dz-image {
    border-radius: 0 !important;
  }

  &.dz-started .dz-message {
    display: flex;
    opacity: 0.4;
  }

  .dz-message {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(~"100% - 40px");
    height: calc(~"100% - 40px");
    margin: 0;
    transition: all 1s ease;
    color: #fff;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 10px;
    font-weight: 200;
  }

  .dz-message-bottom, &.dz-started .dz-message-bottom {
    animation: arrow-down 1.8s infinite;
    display: flex;
    position: absolute;
    width: calc(~"100% - 40px");
    height: calc(~"100% - 40px");
    align-items: flex-end;
    justify-content: center;
    color: white;
    margin: -0.2em 0;
    font-size: 60px;
    i {
      transform: scaleY(0.4);
    }
  }
}

@keyframes arrow-down {
  0% {
    top: 0;
  }
  75%, 100% {
    top: 25px;
  }
}

.photo-alt-button {
  font-size: 26px;
  cursor: pointer;
  margin-left: 10px;
}

#photo-modal {
  margin: 1em 0 !important;
  position: fixed !important;
  top: 0 !important;
  .close-button {
    cursor: pointer;
    font-size: 2em;
  }
  .label {
    font-weight: 600;
  }
  .value {
    color: #777;
    font-weight: 300;
  }
  .ui.image {
    height: 100%;
  }
  .ui.button {
    text-transform: uppercase !important;
    letter-spacing: 0.3em !important;
    font-weight: 400 !important;
    border-radius: 0;
  }
}